
.webform-submission-navigation {
  text-align: right;
}
.webform-submission-next {
  margin-left: 20px;
}
.webform-checkbox {
  text-align: center;
  width: 40px;
}
.webform-default-value {
  color: #999;
}
.webform-results-per-page a.selected {
  font-weight: bold;
}

tr.webform-add-form .tabledrag-changed {
  display: none;
}
#webform-components tr.webform-add-form {
  background-color: inherit;
}
